<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.netflix.hystrix" level="WARN" />
    <logger name="net.whydah.sso" level="trace" />
    <logger name="net.whydah.sso.application" level="trace" />
    <logger name="net.whydah.sso.user" level="trace" />
    <logger name="net.whydah.sso.util" level="trace" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
